<!doctype html>
<html>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
   <title>Films</title>
   <body>
   <script>
      function copyText(text) {
  var dummy = document.createElement("textarea");
    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);
}
   </script>
      <table>
         <tr>
            <th>Film name</th>
            <th>SFTP</th>
            <th>Copy</th>
         </tr>
         {% for name, fstp_text in result %}
         <tr>
            <td>{{name}}</td>
            <td>{{fstp_text}}</td>
            <td><button onclick="copyText('{{fstp_text}}')">Copy</button></td>
         </tr>
         {% endfor %}
      </table>

   </body>
</html>